<% provide(:title, 'Sign up') %>
<!DOCTYPE html>
<%= yield %>
<%= @user.username %>, <%= @user.email %>
<html>
<body >
<header id="top" class="header" background>
  <div class="text-vertical-center">
    <h1>Welcome, Good Sir!</h1>
    <h3>Please sign in to use API</h3>
    <br>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <form role="form">
          <div class="form-group login">
            <%= f.label :username %>
            <%= f.text_field :username, :class => "form-control"  %>

          </div>
          <div class="form-group login">
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control"  %>

          </div>
          <div class="form-group login">
            <%= f.label :password_confirmation, "Password Confirmation" %>
            <%= f.password_field :password_confirmation, :class => "form-control"  %>

          </div>
          <div class="form-group login" id="email-box" ;>
            <%= f.label :email %>
            <%= f.email_field :email, :class => "form-control"%>

          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
          <div id="login-button">
            <%= f.submit "Sign in", class: "btn btn-info btn-lg" %>
            <!-- <button type="submit" class="btn btn-info btn-lg">Login  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
          --> </div>
          <div id="create-button">
            <%= f.submit "Create!", class: "btn btn-default btn-lg" %>
            <!-- <button type="submit" class="btn btn-info btn-lg">Login  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
          --> </div>

        </form>
    <% end %>
    <a id="target">Don't have an account? Create one!</a>
    <a href="#" class=""><%= debug(params) if Rails.env.development? %></a>
  </div>
</header>
</body>
</html>